@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

 * {
     box-sizing: border-box;
 }


 body {
     font-family: 'Lato', sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     margin: 0;
     background-color: rgb(27, 27, 36);
     color: #fff;
 }


 .movie-container {
     margin: 10px 0;
     
 }

 .movie-container select {
     margin-left: 15px;
     padding: 5px 15px;
     border-radius: 4px;
     background-color: #fff;
     font-size: 14px;
     appearance: none;
     --moz-appearance: none;
     --webkit-appearance: none;

 }

.show-case {
     background-color: rgb(21, 21, 28);
     display: flex;
     list-style-type: none;
     align-items: center;
     justify-content: space-between;
     padding: 5px 15px;
     border-radius: 3px;
    
 }

.show-case li {
    display: flex;
    align-items: center;
    justify-content: center;
 
}


.show-case li small {
    color: rgba(88, 88, 104, 0.933);
}


.seat {
     width: 15px;
     height: 12px;
     background-color: rgba(110, 110, 113, 0.933);
     margin: 3px;
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
 }

.seat:nth-of-type(2) {
    margin-right: 20px;
}

.seat:nth-last-of-type(2){
    margin-left: 20px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.15);
}

.show-case .seat:hover {
    cursor: default;
    transform: scale(1);
}

.seat.selected {
     background-color: rgb(146, 227, 246);
 }

.seat.occupied {
     background-color: #fff;
 }

.row {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .text {
     text-align: center;
 }

.text span {
    color: turquoise;
}